/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

*{
    box-sizing: border-box;
}

/* Блок Header*/
.header {
	background-color: #000;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo__img {
	background: url(/img/header-logo.png);
	display: block;
	height: 27px;
	width: 79px;
	margin: 22px 0;
}

.header-nav__list {
	display: flex;
	justify-content: space-between;
}

.header-nav__list-item {
	list-style-type: none;
	margin-left: 48px;
}

.header-nav__link {
	text-decoration: none;
	opacity: 0,7;
	color: #ffffff;
	font-family: "Open Sans", sens-serif;
	font-size: 14px;
	font-weight: 600;
	transition: all 1s ease;
}

.header-nav__link:hover{
	color: #ff8b38;
	opacity: 1;
}

/* Блок Fullscreen*/
.fullscreen {
	background: url(/img/fullscreen-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: calc (100vh-71px);
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container.full {
	display: flex;
	justify-content: center;
	margin: 0;
	width: 100%;
}

.fullscreen-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 100px;
	padding-top: 100px;
}

.fullscreen__logo {
	margin-bottom: 33px;
}

.fullscreen-main{
	margin-right: 10px;
}

.fullscreen__title {
	color: #ffffff;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	max-width: 516px;
}

.fullscreen__title::after{
	display: block;
	border-bottom: 3px solid rgb(255, 255, 255);
	width: 74px;
	content: ' ';
	margin-right: auto;
	margin-top: 38px;
	margin-bottom: 42px;
}

.fullscreen__text {
	opacity: 0.8;
	color: #ffffff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	max-width: 461px;
	margin-bottom: 25px;
}

.fullscreen__button {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid white;
	display: inline-block;
	width: 135px;
	height: 42px;
	text-align: center;
	outline: none;
}

.fullscreen__button:hover{
	background-color: rgba(255, 255, 255, 0.3);
}

.fullscreen__button:active{
	background-color: rgba(255, 255, 255, 0.7);
}

.fullscreen__link {
	text-decoration: none;
	color: white;
}

label{
	display: none;
}

.fullscreen-trial {
	width: 360px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fullscreen-trial__title {
	background-color: #f5f5f5;
	color: #333333;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	padding-top: 18px;
	padding-bottom: 15px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.free {
	color: #ff8b38;
}

.fullscreen__list {
	background-color: #fff;
}

input{
	outline: none;
	width: 285px;
	height: 31px;
	border: none;
	border-bottom: 1px solid #cccccc;
	margin-top: 36px;
	padding-left: 15px;
}

input::-webkit-input-placeholder{
  color: #bdbdbd;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}

input::-moz-placeholder{
	color: #bdbdbd;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}

.fullscreen__list-item {
	padding: 0 10px;
}

.fullscreen__password {
	margin-bottom: 50px;
}

.fullscreen__trial-link {
	display: inline-block;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ff8b38;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: all .5s ease;
	width: 100%;
	border: none;
	outline: none;
}

.fullscreen__trial-link:hover{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border-top: 1px solid #86878b;
}

.fullscreen__trial-link:active{
	background-color: #d46b20;
}

/* Блок Social*/

.social-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 22px -15px 0;
}

.social::after {
	display: block;
	border-bottom: 2px solid #cccccc;
	width: 100%;
	content: ' ';
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

.media {
	max-width: 565px;
	margin-left: 15px;
	margin-right: 15px;
}

.media__title {
	color: #333333;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 12px;
	max-width: 360px;
}

.media__text {
	color: #86878b;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	text-align: left;
}

.social-links {
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: auto;
	font-size: 2vw;
}

@media screen end (min-width 1200px) {
  .social-list{
		font-size: 43px;
	}
}
.social-element {
	margin-left: 25px;
	margin-right: 25px;
	color: #cccccc;
}

/* Блок Features*/

.features {
	background-color: #f5f5f5;
}

.features-wrapper {
	padding-top: 147px;
	padding-bottom: 114px;
}

.features__slides {
  position: relative;
}

.features__tab {
	display: flex;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	height: 338px;
}

.features__input {
	position: absolute;
	display: none;
}

.tab-title {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	height: 112px;
	width: 112px;
	background-color: #212121;
	z-index: 10;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 4px;
}

.tab-1 {
	top: 0;
}

.tab-2 {
	top: center;
}

.tab-3 {
	bottom: 0;
}

.tab-content {
	display: none;
	width: 100%;
	padding-left: 211px;
	justify-content: space-between;
	transition: all 1s ease;
	margin: 0 -10px;
}

.features-content {
	display: flex;
	text-align: left;
	flex-direction: column;
	justify-content: center;
	max-width: 476px;
	margin: 0 10px;
}

.features__title {
	margin-bottom: 52px;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
}

.features__text {
	margin-bottom: 30px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #86878b;
}

.subtext{
	margin-bottom: 65px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #86878b;
}

.features__btn {
	display: block;
	width: 121px;
	height: 46px;
	border: none;
	background-color: #ff8b38;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	transition: 0.7s;
}

.features__btn:hover {
  transform: scale(1.05, 1.05);
}

.features__btn:active {
	transform: scale(.95, .95);
}

.features-img {
	margin: 0 10px;
}

#tab1:checked~.tab-1, #tab2:checked~.tab-2, #tab3:checked~.tab-3 {
	background-color: #ff8b38;
}

#tab1:checked~.content-1, #tab2:checked~.content-2, #tab3:checked~.content-3 {
	display: flex;
}

/* Блок Awwesome*/
.awwesome{
		max-width: 100%;
		background-color: #ffffff;
}

.container{
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.awesone-title{
font-size: 36px;
margin-top: 108px;
margin-bottom: 30px;
text-align: center;
line-height: 26px;
text-transform: uppercase;
color: #212121;
font-family: "Raleway";
font-weight: 400;
font-style: normal;
letter-spacing: normal;
}

.awesone-title::after{
	display: block;
  border-bottom: 2px solid #ff8b38;
  width: 64px;
  content: ' ';
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.awesone-subtitle{
	color: #86878b;
	font-family: "Open Sans";
	margin-top: 30px;
	margin-bottom: 80px;
	line-height: 14px;
	font-weight: 400;
	text-align: center;
	font-style: normal;
	letter-spacing: normal;
}

.awesome-card{
	/*font-size: 100%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px;
	margin: 0 -15px;
	margin-bottom: 80px;
}

.awesome-card__item{
width: 350px;
border: 1px;
margin: 0 15px;
}

.awesome-card__img{
	margin: auto;
	margin-bottom: 29px;
	color: #ff8b38;
	width: 70px;
	height: 70px;
	border: 2px solid #ff8b38;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.awesome-card__title{
	margin-bottom: 25px;
	color: #333333;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	text-align: center;
}

.awesome-card__text:{
	color: #86878b;
  font-family: Open Sans;
  font-size: 14px;
	font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
	line-height: 20px;
	text-align: center;
}

/* Блок Pricing*/
.pricing-wraper{
	background-color: #f5f5f5;
}

.pricing{
	width: 100%;
	margin: 0px auto;
}

.pricing-title{
font-size: 36px;
padding-top: 100px;
margin-bottom: 30px;
text-align: center;
line-height: 26px;
text-transform: uppercase;
color: #212121;
font-family: "Raleway";
font-weight: 400;
font-style: normal;
letter-spacing: normal;
}

.pricing-title::after{
	display: block;
  border-bottom: 2px solid #ff8b38;
  width: 64px;
  content: ' ';
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.pricing-text{
height: 14px;
color: #86878b;
font-family: "Open Sans";
margin-top: 30px;
margin-bottom: 80px;
line-height: 14px;
font-weight: 400;
text-align: center;
font-style: normal;
letter-spacing: normal;
}

.pricing-bloc{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -15px;
	padding-bottom: 80px;
}

.pricing-bloc-item{
		max-width: 360px;
		display: flex;
	  flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-self: flex-end;
		margin: 0 15px;
	}

.pricing-bloc-item__item1{
	width: 343px;
	color: #ffffff;
	font-family: "Open Sans";
  font-size: 20px;
	font-weight: 700;
	line-height: 50px;
  font-style: normal;
  letter-spacing: normal;
	text-align: center;
	background-color: #333333;
}

.pricing-bloc-item__item2{
	width: 343px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 120px;
  text-align: center;
	background-color: #333333;
	text-decoration-color: #ffffff;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.pricing-bloc-item__item3{
	width: 343px;
	height: 51px;
	background-color: #333333;
	text-align: center;
	line-height: 45px;
	color: #ffffff;
}

.pricing-bloc-item__item4{
	width: 343px;
	height: 7px;
	background-color: #ff8b38;
}

.pricing-bloc-item__item{
	width: 343px;
	height: 40px;
	border: 1px solid #f5f5f5;
	background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-bloc-item__prof4{
	width: 343px;
	height: 40px;
	background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase; 
}

.money {
	color: #ffffff;
	font-size: 35px;
	font-style: normal;
  letter-spacing: normal;
  line-height: 140px;
}

/* Блок Comments*/
.comments-wraper{
	width: 100%;
	background-color: #ffffff;
}

.comments-title{
	font-size: 36px;
	margin-top: 108px;
	margin-bottom: 30px;
	text-align: center;
	line-height: 26px;
	text-transform: uppercase;
	color: #212121;
	font-family: "Raleway";
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	}
	
	.comments-title::after{
		display: block;
		border-bottom: 2px solid #ff8b38;
		width: 64px;
		content: ' ';
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	
	.comments-subtitle{
		color: #86878b;
		font-family: "Open Sans";
		margin-top: 30px;
		margin-bottom: 80px;
		line-height: 14px;
		font-weight: 400;
		text-align: center;
		font-style: normal;
		letter-spacing: normal;
	}

	.comments-card {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -70px;
		padding-bottom: 80px;
	}

	.comments-item{
	  width: 273px;
    border: 1px;
	  margin: 0 70px;
	}

	.comments-text {
		position: relative;
		border: 1px;
		background-color: #f5f5f5;
	}

	.text-author {
		padding: 24px 13px 41px 12px;
		text-align: left;
		color: #86878b;
		font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
	}

	.text-author::after{
		content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    left: 25px;
    bottom: -20px;
    /* Положение треугольника */
    border: 10px solid transparent;
    /* Прозрачные границы */
    border-top: 10px solid #f5f5f5;
    /* Добавляем треугольник */
	}
	
	.author-card__img {
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		height: 65px;
    align-content: flex-start;
    justify-content: center;
	}

	.author {
		width: 70px;
    height: 70px;
	}

	.author-name {
		margin-left: 15px;
		margin-bottom: 8px;
		color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
	}

	.author-jop {
		text-align: left;
    margin-left: 15px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
	}

  /* Блок Axure*/
	.axure {
		background-image: url(/img/u25_state0.jpg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
	}

	.axure-block {
		width: 100%;
		text-align: center;
	}

	.axure-title {
		font-size: 36px;
		font-weight: 400;
		padding-top: 74px;
	  text-align: center;
		line-height: 74px;
	  text-transform: uppercase;
	  color: #ffffff;
	  font-family: "Raleway";
	  font-style: normal;
	  letter-spacing: normal;
	}

	.axure-title::after{
		display: block;
		border-bottom: 2px solid rgb(255, 255, 255);
		width: 65px;
		content: ' ';
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}

	.axure-subtitle {
		font-family: Raleway;
		color: #ffffff;
		font-size: 16px;
		line-height: 1.2;
		opacity: 0.8;
		font-weight: 300;
		margin-top: 30px;
		text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
	}

	.axure_button {
		background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid white;
    display: inline-block;
    color: white;
    width: 135px;
    height: 42px;
		text-align: center;
    margin-top: 33px;
    margin-bottom: 63px;
		outline: none;
	}

	.axure_button:hover{
		background-color: rgba(255, 255, 255, 0.3);
	}

	.axure_button:active{
		background-color: rgba(255, 255, 255, 0.7);
	}

	/* Блок Contact*/
	.contact {
		width: 100%;
		text-align: center;
		background-color: #ffffff;
	}

	.contact-title {
		font-size: 36px;
		font-weight: 400;
		padding-top: 74px;
	  text-align: center;
		line-height: 74px;
	  text-transform: uppercase;
	  color: #212121;
	  font-family: "Raleway";
	  font-style: normal;
	  letter-spacing: normal;
	}

	.contact-title::after{
		display: block;
		border-bottom: 2px solid #ff8b38;
		width: 64px;
		content: ' ';
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	.contact-subtitle {
		color: #86878b;
		font-family: "OpenSans";
		margin-top: 30px;
		margin-bottom: 80px;
		line-height: 14px;
		font-weight: 400;
		text-align: center;
		font-style: normal;
		letter-spacing: normal;
	}

	.formblock {
		display: flex;
		justify-content: center;
		margin-bottom: 43px;
	}

	textarea{
		outline: none;
	  margin-top: 36px;
	}

	.contact-list, .message {
		width: 527px;
	}

	.contact-list_item, .contact-textarea {
		width: 100%;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
	}

	.contact-textarea{
		height: 35px;
		border: none;
		border-bottom: 1px solid #bdbdbd;
		outline: none;
		resize: none;
		padding-left: 15px;
	}

	.message{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: flex-end;
		margin-left: 34px;
		margin-right: 34px;
	}

	.contact__btn{
		display: block;
		width: 148px;
		height: 46px;
		border: none;
		border-radius: 5px;
		margin: 0 auto 80px;
		background-color: #ff8b38;
		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: 600;
		outline: none;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	}

	.contact__btn:active{
		transform: scale(0.95, 0.95);
	}

	/* Блок Footer*/
	.footer{
		background-color: black;
	}

		.footer__list {
		padding-top: 38px;
		margin-bottom: 15px;
	}

	.footer__social {
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 317px;
		margin: auto;
	}

	.footer__social-element {
		font-size: 23px;
	}

	.fab, .fa, .fas {
		color: #86878b;
		transition: all 1s ease;
	}

	.footer-copyright {
		padding-bottom: 15px;
	}

	.footer__text {
		opacity: 0.5;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
		text-align: center;
	}